<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
</head>
<body>
		<header>
			<h1>Hello World</h1>
			<p>The current version is {{ constant('Twig_Environment::VERSION') }}</p>

		</header>

		<main>
			{{ content | raw}}
		</main>
</body>
</html>
