<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
</head>
<body>
		<header><h1>Hello World</h1>
		<main>
			{% block content %}
				<p>This block should be replaced by the index.twig <strong>content</strong> block.</p>
				{{ dump() }}
			{% endblock %}
		</main>
</body>
</html>
